# General
.DS_Store







# Thumbnails


# Files that might appear in the root of a volume








# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
